[Unit]
Description=Start envoy proxy
Requires=fake-service.service
After=fake-service.service

[Service]
Type=simple
ExecStart=/usr/local/bin/consul connect envoy --sidecar-for ${service_name} -admin-bind localhost:19000
EnvironmentFile=/opt/myapp/fake-service-envoy.config

[Install]
WantedBy=multi-user.target